/*
#3498DB
PETER RIVER
#2980B9
BELIZE HOLE
*/

body {
   font-family: 'Roboto', 'Helvetica Neue', Helvetica;
   font-weight: 400;
   background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
}
.container h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

header nav h1, header nav h5 {
	margin: 0px;
	text-align: center;
}

header nav h1 {
	font-size: 2.5em;
	line-height: 40px;
	color: #2980B9;
	transition: color .1s;
	-webkit-transition: color .1s;
}

header nav h1:hover, header nav h1:active {
	color: #3498DB;
}

header nav h5 {
	font-weight: 400;
	line-height: 20px;
}

header nav a {
	text-decoration: none;
	color: #000;
}

nav > a.nav-link {
	margin: 40px 0px;
	display: inline-block;
	transition: transform .1s, color .1s, fill .1s;
	-webkit-transition: -webkit-transform .1s, color .1s, fill .1s;
}

nav > a.nav-link:hover, nav a.nav-link:active, nav a.current {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	color: #3498DB;
	fill: #3498DB;
}

nav a.nav-link span:nth-child(2) {
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 20px;
}

nav .icon svg {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

header.cross-section, footer.cross-section {
	padding: 30px 0px;
}

.cross-section .container {
	width: 900px;
	padding: 30px 25px;
	margin: 0 auto;
}
.cross-section .container-np {
	width: 900px;
	margin: 0 auto;
}

.cross-section a:link, .cross-section a:visited {
	color: #333;
	transition: color .1s;
}
.cross-section a:hover, .cross-section a:active {
	color: #000;
}

.inverse {
	color: #fff;
	background-color: #2980B9;
}

.inverse a:link, .inverse a:visited {
	color: #ddd;
}

.inverse a:hover, .inverse a:active {
	color: #fff;
}

.avatar {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display: block;
	border-radius: 50em;
	background-size: cover;
	box-shadow: inset 0px 0px 10px #333;
}

article.blogpost header h1 {
	padding-top: 20px;
}

article.blogpost header time {
	font-weight: 200;
	font-size: 14px;
	line-height: 10px;
	display: block
}

article.blogpost header {
	margin-bottom: 30px;
}

article.blogpost section h2, article.blogpost .headline {
	font-weight: 400;
	font-size: 1.25em;
}

article.blogpost p {
	text-align: justify;
	font-size: 15px;
	line-height: 22px;
	font-weight: 200;
}

article.blogpost ul, article.blogpost ol {
	font-weight: 300;
}

article.blogpost footer {
	margin-top: 40px;
}

article.blogpost footer a:link, article.blogpost footer a:visited {
	display: block;
	text-decoration: none;
	background-color: #f7f7f7;
	color: #2980B9;
	padding: 10px 0px;
}
article.blogpost footer a:hover, article.blogpost footer a:active {
	background-color: #3498DB;
	color: #fff;
}

article.blogpost footer div a div {
	padding: 0px 10px;
}
article.blogpost footer > div:first-child {
	text-align: left;
}
article.blogpost footer > div:first-child time:before {
	content: "\2190";
	display: inline-block;
	margin-right: 10px;
}
article.blogpost footer > div:last-child {
	text-align: right;
}
article.blogpost footer > div:last-child time:after {
	content: "\2192";
	display: inline-block;
	margin-left: 10px;
}
article.blogpost footer h2 {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer {
	font-size: 12px;
}

footer .container div:last-child {
	text-align: right;
}

/* pure extensions */
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
	background: #2ecc71; /* this is a green */
}

