/*
#3498DB
PETER RIVER
#2980B9
BELIZE HOLE
*/

body {
   font-family: 'Roboto', 'Helvetica Neue', Helvetica;
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
}

header h1, header h5 {
	margin: 0px;
	text-align: center;
}

header h1 {
	font-size: 3em;
	line-height: 50px;
	color: #2980B9;
	transition: color .1s;
	-webkit-transition: color .1s;
}

header h1:hover, header h1:active {
	color: #3498DB;
}

header h5 {
	font-weight: 400;
	line-height: 20px;
}

header a {
	text-decoration: none;
}

nav > a.nav-link {
	margin: 40px 0px;
	display: inline-block;
	transition: transform .1s ease-in-out, color .1s;
	-webkit-transition: -webkit-transform .1s ease-in-out, color .1s;

}

nav > a.nav-link:hover, nav a.nav-link:active {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	color: #3498DB;
	cursor: pointer;
}

nav a.nav-link span {
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 20px;
}

nav .icon {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

.cross-section {
	padding: 30px 0px;
}

.cross-section .container {
	width: 1100px;
	padding: 0px 25px;
	margin: 0 auto;
}

header.cross-section .container {
	width: 900px;
}

.cross-section.inverse {
	color: #fff;
	background-color: #333;
}

.avatar {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display: block;
	border-radius: 50em;
	background-size: cover;
	box-shadow: inset 0px 0px 20px #333;
}

#aboutme {
	background-color: #2980B9;
}