<section class="cross-section inverse text-block">
    <article class="container-np pure-g-r blogpost" data-ng-controller="blogPostCtrl">
    	<header class="pure-u-1">
    		<h1>Hello!</h1>
    		<time>June 20, 2013 @ 7:40p</time>
    	</header>
    	<section class="pure-u-1">
    		<h2>
    			This is a header, where I'm saying things.
    		</h2>
    		<p>
    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Oh, hello. This is a link.</a> Curabitur eget nisi sed leo fringilla accumsan. In hendrerit odio a nisi lacinia ullamcorper. Morbi ornare viverra tortor, in cursus justo vehicula a. Aliquam vestibulum iaculis tellus eu dapibus. Phasellus tempus, nunc sit amet condimentum scelerisque, augue urna suscipit quam, id imperdiet felis sem eu erat. Quisque eu fringilla orci. Sed sodales nisi porttitor, fringilla tortor ac, semper eros. Duis molestie lacus id ligula elementum ultricies. Proin condimentum velit nec nisl viverra, eu lacinia quam dictum. Sed dui nibh, malesuada vel euismod quis, tincidunt vel justo. Mauris et nisl felis. Donec sagittis ligula id odio ullamcorper vehicula. Proin dapibus massa at fermentum ultrices. Nunc sed nunc et sem tempor cursus. Praesent pulvinar justo turpis, elementum pellentesque turpis ultrices at. Quisque eu ultricies nunc.
    		</p>
    		<p>
    			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec at vehicula tellus. Donec consequat non augue et vestibulum. Fusce ullamcorper congue ipsum non eleifend. Maecenas diam felis, vulputate sed porta bibendum, cursus sit amet turpis. Nam vestibulum vulputate neque, consectetur pellentesque nisl commodo et. Fusce viverra sapien dui, ac tempus lectus placerat vitae. Suspendisse varius mi a turpis hendrerit, et ultrices velit tempus. Cras nisl eros, consectetur id orci eu, vulputate egestas sem. Ut cursus, risus quis fringilla fermentum, eros lacus ornare sapien, at iaculis quam ipsum vel odio.
    		</p>
    		<h3>
    			I have three life goals:
    		</h3>
    		<ol>
    			<li>Become Batman</li>
    			<li>Item 2</li>
    			<li>This is item 3, another thing I am.</li>
    		</ol>
    		<h3>
    			These don't have a particular order though.
    		</h3>
    		<ul>
    			<li>Who likes order? Not me!</li>
    			<li>Another sample element goes here.</li>
    		</ul>
            <p>
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec at vehicula tellus. Donec consequat non augue et vestibulum. Fusce ullamcorper congue ipsum non eleifend. Maecenas diam felis, vulputate sed porta bibendum, cursus sit amet turpis. Nam vestibulum vulputate neque, consectetur pellentesque nisl commodo et. Fusce viverra sapien dui, ac tempus lectus placerat vitae. Suspendisse varius mi a turpis hendrerit, et ultrices velit tempus.
            </p>
    	</section>
    	<footer class="pure-g">
    		<div class="pure-u-1-2">
    			<a href="#">
    				<div>
    					<h2>Branding For the Xbox One is a Super Long Thing To Talk About</h2>
    					<time>June 19th, 2013 @ 5:30p</time>
    				</div>
    			</a>
    		</div>
    		<div class="pure-u-1-2">
    			<a href="#">
    				<div>
    					<h2>Branding For the Xbox One</h2>
    					<time>June 19th, 2013 @ 5:30p</time>
    				</div>
    			</a>
    		</div>
    	</footer>
    </article>
</section>