<section class="cross-section inverse text-block">
    <article class="container-np pure-g-r blogpost" data-ng-controller="BlogPostCtrl">
    	<header class="pure-u-1">
    		<h1 data-ng-bind="title"></h1>
    		<time>June 20, 2013 @ 7:40p</time>
    	</header>
    	<section class="pure-u-1" data-ng-bind-html-unsafe="content">
    	</section>
    	<footer class="pure-g">
    		<div class="pure-u-1-2">
    			<a href="#">
    				<div>
    					<h2>Branding For the Xbox One is a Super Long Thing To Talk About</h2>
    					<time>June 19th, 2013 @ 5:30p</time>
    				</div>
    			</a>
    		</div>
    		<div class="pure-u-1-2">
    			<a href="#">
    				<div>
    					<h2>Branding For the Xbox One</h2>
    					<time>June 19th, 2013 @ 5:30p</time>
    				</div>
    			</a>
    		</div>
    	</footer>
    </article>
</section>